@media (max-width: 662px) {
  header .header__img .header__img-conteiner {
    width: 100%;
  }
  header .header__info .header__info-name .info-name {
    font-size: 35px;
  }
  header .header__info .header__info-name .info-surname {
    font-size: 45px;
  }
  header .header__info .header__info-address {
    padding-top: 30px;
  }
  header .header__info .header__info-address ul .phone {
    margin: 0;
  }
  header .header__info .header__info-address ul .info {
    margin-bottom: 20px;
  }
  .title {
    text-align: center;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    background-color: rgba(223, 221, 221, 0.233);
  }
  .left-col {
    width: 100%;
    padding: 30px 10px 0 0px;
  }
  .left-col .conteiner {
    width: 100%;
  }
  .left-col .profile {
    display: none;
  }
  .left-col .education {
    padding-bottom: 15px;
  }
  .left-col .education hr {
    margin: 0 auto;
  }
  .left-col .education .education__university {
    margin-bottom: 0px;
    padding: 20px 0 0 18px;
  }
  .left-col .hobbies {
    display: none;
  }
  .right-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    padding-top: 15px;
  }
  .right-col .experiences {
    padding: 0 10px 0 10px;
  }
  .right-col .experiences hr {
    margin: 0 auto;
  }
  .right-col .experiences__work {
    width: 100%;
    padding: 20px 10px 0 10px;
    margin-bottom: 0px;
  }
  .right-col .experiences__work :first-child {
    padding-top: 10px;
  }
  .right-col .profile {
    display: block;
  }
  .right-col .profile hr {
    margin: 0 auto;
  }
  .right-col .profile .profile__info {
    padding: 20px 18px 0 18px;
  }
  .right-col .skill {
    padding-top: 0px;
  }
  .right-col .skill hr {
    margin: 0 auto;
  }
  .right-col .skill .skill__img {
    padding: 15px 0 0 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
