@media (max-width: 320px) {
  .conteiner {
    width: 100%;
  }
  header {
    height: 520px;
  }
  header .header__img .header__img-prof {
    display: block;
  }
  header .header__img .header__img-prof .prof-name {
    font-size: 40px;
  }
  header .header__img .header__img-prof .prof-prof {
    font-size: 50px;
  }
  .left-col .education .education__university {
    font-size: 18px;
  }
  .right-col .experiences__work .name__work {
    font-size: 17px;
    padding-top: 15px;
  }
  .right-col .experiences__work .profession {
    font-size: 17px;
  }
  .right-col .experiences__work .duties {
    font-size: 16px;
  }
  .right-col .profile {
    margin-bottom: 25px;
  }
  .right-col .profile p {
    font-size: 15px;
  }
}
