@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* ! Меняет подсчет ширыны блока для удобства верстки*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*! Убираем линии обводки у некоторых браузерах*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*! Делаем некоторые элементы блочными*/
nav,
footer,
header,
aside {
  display: block;
}

/*! Задаем одинаковое поведение шрифта разным браузерам*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*! Задаем унаследование семейства шрифта Form*/
input,
button,
textarea {
  font-family: inherit;
}

/*! Чистятся стили, маркированные списки*/
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*! Обнуляем все заголовки*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../fonts/Montserrat-Medium.eot");
  src: local("☺"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserrat-Light.eot");
  src: local("☺"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url("../fonts/Poppins-Bold.eot");
  src: local("☺"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.ttf") format("truetype"), url("../fonts/Poppins-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Light';
  src: url("../fonts/Poppins-Light.eot");
  src: local("☺"), url("../fonts/Poppins-Light.woff") format("woff"), url("../fonts/Poppins-Light.ttf") format("truetype"), url("../fonts/Poppins-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url("../fonts/Poppins-Regular.eot");
  src: local("☺"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  min-width: 100%;
  height: 1550px;
  padding: 50px 0px 100px 0px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 950px;
  margin: 0px auto;
  -webkit-box-shadow: 30px 50px 65px rgba(0, 0, 0, 0.425);
          box-shadow: 30px 50px 65px rgba(0, 0, 0, 0.425);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

header .header__img {
  position: relative;
  width: 45%;
  padding: 50px 0px;
  background-color: rgba(221, 221, 221, 0.76);
}

header .header__img .header__img-conteiner {
  margin: 0 auto;
  width: 280px;
  height: 400px;
  -webkit-box-shadow: 8px 10px 10px rgba(121, 117, 117, 0.247);
          box-shadow: 8px 10px 10px rgba(121, 117, 117, 0.247);
}

header .header__img .header__img-conteiner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .header__img .header__img-prof {
  display: none;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

header .header__img .header__img-prof .prof-name {
  display: block;
  position: relative;
  font-family: Montserrat-Light;
  font-size: 30px;
  color: aliceblue;
  letter-spacing: 1px;
  -webkit-animation-name: frontend;
          animation-name: frontend;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

header .header__img .header__img-prof .prof-prof {
  display: block;
  position: relative;
  font-family: Montserrat-Medium;
  font-size: 40px;
  color: aliceblue;
  -webkit-animation-name: developer;
          animation-name: developer;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes frontend {
  0% {
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes frontend {
  0% {
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes developer {
  0% {
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes developer {
  0% {
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header .header__info {
  width: 55%;
  padding: 70px 0 0 40px;
  background-color: #23252b;
  color: rgba(255, 255, 255, 0.863);
}

header .header__info .header__info-name {
  margin-bottom: 20px;
}

header .header__info .header__info-name .info-name {
  display: block;
  position: relative;
  font-family: Montserrat-Light;
  font-size: 60px;
  letter-spacing: 3px;
  -webkit-animation-name: name;
          animation-name: name;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

header .header__info .header__info-name .info-surname {
  display: block;
  position: relative;
  font-family: Montserrat-Medium;
  font-size: 70px;
  -webkit-animation-name: surname;
          animation-name: surname;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes name {
  0% {
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes name {
  0% {
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes surname {
  0% {
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes surname {
  0% {
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header .header__info .header__info-prof {
  display: inline-block;
  margin-bottom: 90px;
  padding: 3px 8px 3px 8px;
  font-family: Montserrat-Medium;
  font-size: 30px;
  background-color: rgba(63, 67, 75, 0.534);
  -webkit-animation-name: opas;
          animation-name: opas;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes opas {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opas {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header .header__info .header__info-address {
  max-width: 100%;
}

header .header__info .header__info-address ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .header__info .header__info-address .info {
  display: block;
  position: relative;
  margin: 0 25px 45px 0;
  padding: 0 0 0 30px;
  font-family: Poppins-Regular;
  font-size: 18px;
  letter-spacing: 0.8px;
}

header .header__info .header__info-address .info a {
  display: block;
  color: rgba(240, 248, 255, 0.863);
  -webkit-transition: color 0.5s ease 0s, -webkit-transform 0.18s ease 0s;
  transition: color 0.5s ease 0s, -webkit-transform 0.18s ease 0s;
  transition: transform 0.18s ease 0s, color 0.5s ease 0s;
  transition: transform 0.18s ease 0s, color 0.5s ease 0s, -webkit-transform 0.18s ease 0s;
}

header .header__info .header__info-address .info a:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  color: #41f57d;
}

header .header__info .header__info-address .info:nth-child(1)::before {
  content: " ";
  display: block;
  position: absolute;
  top: -4px;
  left: 0;
  width: 25px;
  height: 25px;
  background: url(../images/address/Tell.SVG) 0 0/cover no-repeat;
}

header .header__info .header__info-address .info:nth-child(2) {
  padding-left: 35px;
  font-size: 18.5px;
}

header .header__info .header__info-address .info:nth-child(2)::before {
  content: " ";
  display: block;
  position: absolute;
  top: -6.5px;
  left: 0;
  width: 27px;
  height: 27px;
  background: url(../images/address/Download.SVG) 0 0/cover no-repeat;
}

header .header__info .header__info-address .info:nth-child(3)::before {
  content: " ";
  display: block;
  position: absolute;
  top: -6px;
  left: -2px;
  width: 27px;
  height: 27px;
  background: url(../images/address/MailOne.SVG) 0 0/cover no-repeat;
}

header .header__info .header__info-address .info:nth-child(4)::before {
  content: " ";
  display: block;
  position: absolute;
  top: -7px;
  left: -3px;
  width: 30px;
  height: 30px;
  background: url(../images/address/Map.SVG) 0 0/cover no-repeat;
}

/*********************Main***********************/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  padding-bottom: 45px;
  background-color: #F3F3F3;
}

.title {
  margin-bottom: 6px;
  font-family: Poppins-Bold;
  color: #2A2E36;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 3px;
}

hr {
  height: 3px;
  margin-bottom: 23px;
  background-color: #23252b;
}

/**************Left column******************/
.left-col {
  width: 45%;
  padding-top: 30px;
}

.left-col .conteiner {
  width: 350px;
  margin: 0 auto;
}

.left-col .profile {
  margin-bottom: 40px;
}

.left-col .profile hr {
  width: 123px;
}

.left-col .profile p {
  padding-left: 10px;
  line-height: 22px;
  letter-spacing: 1.2px;
}

.left-col .profile p strong {
  font-size: 30px;
  color: rgba(42, 46, 54, 0.801);
}

.left-col .profile .profile__info {
  font-family: Poppins-Regular;
  font-size: 19px;
  color: #7D7D7D;
}

.left-col .education hr {
  width: 186px;
}

.left-col .education .education__university {
  margin-bottom: 30px;
  padding-left: 10px;
  font-family: Poppins-Regular;
  font-size: 19px;
  font-weight: 600;
  color: #363636;
  line-height: 22px;
  letter-spacing: 0.3px;
}

.left-col .education .education__university .year {
  color: #707070;
}

.left-col .hobbies hr {
  width: 153px;
}

.left-col .hobbies img {
  width: 60px;
  margin-right: 30px;
}

.left-col .hobbies img:last-child {
  margin-right: 0px;
}

.left-col .hobbies img:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-transition: -webkit-transform 0.2s linear 0s;
  transition: -webkit-transform 0.2s linear 0s;
  transition: transform 0.2s linear 0s;
  transition: transform 0.2s linear 0s, -webkit-transform 0.2s linear 0s;
}

/**************Rigth column******************/
.right-col {
  width: 55%;
  padding-top: 30px;
}

.right-col hr {
  width: 205px;
}

.right-col .experiences__work {
  max-width: 480px;
  margin-bottom: 30px;
  padding-left: 18px;
  color: #474747;
  line-height: 22px;
  letter-spacing: 0.3px;
}

.right-col .experiences__work:last-child {
  margin-bottom: 0px;
}

.right-col .experiences__work .name__work {
  font-size: 20px;
  font-family: Roboto-Regular;
}

.right-col .experiences__work .profession {
  padding-top: 5px;
  font-size: 20px;
  font-family: Roboto-Regular;
}

.right-col .experiences__work .duties {
  padding-top: 5px;
  font-size: 20px;
  font-family: Roboto-Light;
}

.right-col .profile {
  display: none;
  margin-bottom: 40px;
}

.right-col .profile hr {
  width: 123px;
}

.right-col .profile p {
  padding-left: 10px;
  line-height: 22px;
  letter-spacing: 1.2px;
}

.right-col .profile p strong {
  font-size: 30px;
  color: rgba(42, 46, 54, 0.801);
}

.right-col .profile .profile__info {
  font-family: Poppins-Regular;
  font-size: 19px;
  color: #7D7D7D;
}

.right-col .skill {
  padding-top: 30px;
}

.right-col .skill hr {
  width: 82px;
}

.right-col .skill .skill__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 20px;
  -webkit-perspective-origin: center;
          perspective-origin: center;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.right-col .skill .skill__img .transform {
  -webkit-transform: rotate3d(0, 1, 0, 360deg);
          transform: rotate3d(0, 1, 0, 360deg);
}

.right-col .skill .skill__img img {
  display: block;
  margin: 0px 15px 25px 0;
  width: 60px;
}

.right-col .skill .skill__img img:nth-child(1) {
  -webkit-transition: -webkit-transform 0.3s linear 0s;
  transition: -webkit-transform 0.3s linear 0s;
  transition: transform 0.3s linear 0s;
  transition: transform 0.3s linear 0s, -webkit-transform 0.3s linear 0s;
}

.right-col .skill .skill__img img:nth-child(2) {
  display: none;
  -webkit-transition: -webkit-transform 0.3s linear 0.1s;
  transition: -webkit-transform 0.3s linear 0.1s;
  transition: transform 0.3s linear 0.1s;
  transition: transform 0.3s linear 0.1s, -webkit-transform 0.3s linear 0.1s;
}

.right-col .skill .skill__img img:nth-child(3) {
  -webkit-transition: -webkit-transform 0.3s linear 0.3s;
  transition: -webkit-transform 0.3s linear 0.3s;
  transition: transform 0.3s linear 0.3s;
  transition: transform 0.3s linear 0.3s, -webkit-transform 0.3s linear 0.3s;
}

.right-col .skill .skill__img img:nth-child(4) {
  -webkit-transition: -webkit-transform 0.3s linear 0.5s;
  transition: -webkit-transform 0.3s linear 0.5s;
  transition: transform 0.3s linear 0.5s;
  transition: transform 0.3s linear 0.5s, -webkit-transform 0.3s linear 0.5s;
}

.right-col .skill .skill__img img:nth-child(5) {
  -webkit-transition: -webkit-transform 0.3s linear 0.7s;
  transition: -webkit-transform 0.3s linear 0.7s;
  transition: transform 0.3s linear 0.7s;
  transition: transform 0.3s linear 0.7s, -webkit-transform 0.3s linear 0.7s;
}

.right-col .skill .skill__img img:nth-child(6) {
  -webkit-transition: -webkit-transform 0.3s linear 0.9s;
  transition: -webkit-transform 0.3s linear 0.9s;
  transition: transform 0.3s linear 0.9s;
  transition: transform 0.3s linear 0.9s, -webkit-transform 0.3s linear 0.9s;
}

.right-col .skill .skill__img img:nth-child(7) {
  -webkit-transition: -webkit-transform 0.3s linear 1.1s;
  transition: -webkit-transform 0.3s linear 1.1s;
  transition: transform 0.3s linear 1.1s;
  transition: transform 0.3s linear 1.1s, -webkit-transform 0.3s linear 1.1s;
}

.right-col .skill .skill__img img:nth-child(8) {
  -webkit-transition: -webkit-transform 0.3s linear 1.3s;
  transition: -webkit-transform 0.3s linear 1.3s;
  transition: transform 0.3s linear 1.3s;
  transition: transform 0.3s linear 1.3s, -webkit-transform 0.3s linear 1.3s;
}

.right-col .skill .skill__img img:nth-child(9) {
  -webkit-transition: -webkit-transform 0.3s linear 1.5s;
  transition: -webkit-transform 0.3s linear 1.5s;
  transition: transform 0.3s linear 1.5s;
  transition: transform 0.3s linear 1.5s, -webkit-transform 0.3s linear 1.5s;
}

.right-col .skill .skill__img img:nth-child(10) {
  -webkit-transition: -webkit-transform 0.3s linear 1.7s;
  transition: -webkit-transform 0.3s linear 1.7s;
  transition: transform 0.3s linear 1.7s;
  transition: transform 0.3s linear 1.7s, -webkit-transform 0.3s linear 1.7s;
}

@media (max-width: 1100px) {
  body {
    height: 1250px;
    padding: 0px;
  }
  .container {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  main {
    padding-bottom: 10px;
    background-color: rgba(223, 221, 221, 0.61);
  }
}

@media (max-width: 868px) {
  header .header__info {
    padding: 50px 0 0 40px;
  }
  header .header__info .header__info-prof {
    margin-bottom: 40px;
  }
  header .header__info .header__info-address ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header__info .header__info-address .info {
    margin-bottom: 15px;
    font-size: 22px;
  }
  .left-col .hobbies img {
    margin-right: 17px;
  }
  .right-col .experiences .experiences__work {
    padding: 0 18px 0 18px;
  }
  .right-col .experiences .experiences__work .profession {
    font-size: 17px;
  }
  .right-col .experiences .experiences__work .duties {
    font-size: 17px;
  }
  .right-col .skill .skill__img {
    padding: 0 18px 0 18px;
  }
}

@media (max-width: 662px) {
  header .header__img .header__img-conteiner {
    width: 100%;
  }
  header .header__info .header__info-name .info-name {
    font-size: 35px;
  }
  header .header__info .header__info-name .info-surname {
    font-size: 45px;
  }
  header .header__info .header__info-address {
    padding-top: 30px;
  }
  header .header__info .header__info-address ul .phone {
    margin: 0;
  }
  header .header__info .header__info-address ul .info {
    margin-bottom: 20px;
  }
  .title {
    text-align: center;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    background-color: rgba(223, 221, 221, 0.233);
  }
  .left-col {
    width: 100%;
    padding: 30px 10px 0 0px;
  }
  .left-col .conteiner {
    width: 100%;
  }
  .left-col .profile {
    display: none;
  }
  .left-col .education {
    padding-bottom: 15px;
  }
  .left-col .education hr {
    margin: 0 auto;
  }
  .left-col .education .education__university {
    margin-bottom: 0px;
    padding: 20px 0 0 18px;
  }
  .left-col .hobbies {
    display: none;
  }
  .right-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    padding-top: 15px;
  }
  .right-col .experiences {
    padding: 0 10px 0 10px;
  }
  .right-col .experiences hr {
    margin: 0 auto;
  }
  .right-col .experiences__work {
    width: 100%;
    padding: 20px 10px 0 10px;
    margin-bottom: 0px;
  }
  .right-col .experiences__work :first-child {
    padding-top: 10px;
  }
  .right-col .profile {
    display: block;
  }
  .right-col .profile hr {
    margin: 0 auto;
  }
  .right-col .profile .profile__info {
    padding: 20px 18px 0 18px;
  }
  .right-col .skill {
    padding-top: 0px;
  }
  .right-col .skill hr {
    margin: 0 auto;
  }
  .right-col .skill .skill__img {
    padding: 15px 0 0 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 499px) {
  .conteiner {
    width: 100%;
  }
  header .container {
    display: none;
  }
  header .header__img {
    display: block;
    width: 100%;
    padding: 0px;
    background-color: white;
  }
  header .header__img .header__img-conteiner {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  header .header__img .header__img-prof {
    display: block;
  }
  header .header__img .header__img-prof .prof-name {
    font-size: 50px;
  }
  header .header__img .header__img-prof .prof-prof {
    font-size: 60px;
  }
  header .header__info {
    display: none;
  }
  .title {
    text-align: center;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    background-color: rgba(223, 221, 221, 0.233);
  }
  .left-col {
    width: 100%;
    padding: 30px 10px 0 0px;
  }
  .left-col .conteiner {
    width: 100%;
  }
  .left-col .profile {
    display: none;
  }
  .left-col .education {
    padding-bottom: 15px;
  }
  .left-col .education hr {
    margin: 0 auto;
  }
  .left-col .education .education__university {
    margin-bottom: 0px;
    padding: 20px 0 0 18px;
  }
  .left-col .hobbies {
    display: none;
  }
  .right-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    padding-top: 15px;
  }
  .right-col .experiences {
    padding: 0 10px 0 10px;
  }
  .right-col .experiences hr {
    margin: 0 auto;
  }
  .right-col .experiences__work {
    width: 100%;
    padding: 20px 10px 0 10px;
    margin-bottom: 0px;
  }
  .right-col .experiences__work :first-child {
    padding-top: 10px;
  }
  .right-col .profile {
    display: block;
  }
  .right-col .profile hr {
    margin: 0 auto;
  }
  .right-col .profile .profile__info {
    padding: 20px 18px 0 18px;
  }
  .right-col .skill {
    padding-top: 0px;
  }
  .right-col .skill hr {
    margin: 0 auto;
  }
  .right-col .skill .skill__img {
    padding: 15px 0 0 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 320px) {
  .conteiner {
    width: 100%;
  }
  header {
    height: 520px;
  }
  header .header__img .header__img-prof {
    display: block;
  }
  header .header__img .header__img-prof .prof-name {
    font-size: 40px;
  }
  header .header__img .header__img-prof .prof-prof {
    font-size: 50px;
  }
  .left-col .education .education__university {
    font-size: 18px;
  }
  .right-col .experiences__work .name__work {
    font-size: 17px;
    padding-top: 15px;
  }
  .right-col .experiences__work .profession {
    font-size: 17px;
  }
  .right-col .experiences__work .duties {
    font-size: 16px;
  }
  .right-col .profile {
    margin-bottom: 25px;
  }
  .right-col .profile p {
    font-size: 15px;
  }
}
